/* =============================================
================================================
Hero
================================================
============================================= */

.rhs-hero {

  /* Front Page Hero */

  &.front-page {
    position: relative;
    height: 100vh;
    max-height: 500px;
    background: $color--black;

    @include respond-to-min(small) {
       max-height: 600px;
    }
     @include respond-to-min(medium) {
        max-height: 768px;
     }
     @include respond-to-min(large) {
        max-height: 1080px;
     }

    #front-hero-container{
      z-index: 2;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100vh;
      max-height: 500px;
      width: 100%;
      display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox; /* TWEENER - IE 10 */
      display: -webkit-flex; /* NEW - Chrome */
      display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
      justify-content: center;
      align-items: center;

      @include respond-to-min(small) {
         max-height: 600px;
      }
       @include respond-to-min(medium) {
          max-height: 768px;
       }
       @include respond-to-min(large) {
          max-height: 1080px;
            min-height: 700px;
       }

       .front-hero-container,
       .front-hero-slider,
       .front-hero-slide {
         width: 100%;
         height: 100vh;
         max-height: 500px;
         margin: 0;

         @include respond-to-min(small) {
            max-height: 600px;
         }
          @include respond-to-min(medium) {
             max-height: 768px;
          }
          @include respond-to-min(large) {
             max-height: 1080px;
               min-height: 700px;
          }
       }
       .front-hero-slider {
         .front-hero-slide {


           .front-hero-content {
             position: absolute;
             top: 0;
             right: 0;
             left: 0;
             bottom: 0;
             display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
             display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
             display: -ms-flexbox; /* TWEENER - IE 10 */
             display: -webkit-flex; /* NEW - Chrome */
             display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
             flex-flow: column;
             justify-content: center;
             align-items: center;
             color: $color--white;
             text-align: center;
             padding: 0 1rem;
             opacity: 0;
             -webkit-transition: opacity 250ms ease-in-out;
             -moz-transition:  opacity 250ms ease-in-out;
             -o-transition:  opacity 250ms ease-in-out;
             transition: opacity 250ms ease-in-out;

              @include respond-to-min(medium) {
                 padding: 0 2rem;
               }

             @include respond-to-min(large) {
               padding: 0;
              }
              /* Front page Logo */
              .front-hero-logo {
                  margin-bottom: 0.25rem;
                @include respond-to-min(medium) {
                  margin-bottom: 0.5rem;
                }

                svg {
                  height: 100px;

                  @include respond-to-min(medium) {
                    height: 150px;
                  }
                  @include respond-to-min(uwide) {
                    height: 200px;
                  }
                }
               }

             /* Front page Title */
             .front-hero-title {
                margin-bottom: 0.5rem;

              @include respond-to-min(large) {
                margin-bottom: 1rem;
              }
               @include respond-to-min(uwide) {
                 margin-bottom: 1.5rem;
               }
              }

              /* Front page Title */
              .front-hero-text p {
                font-family: $serif;
                margin-bottom: 1.25rem;
                font-size: 1rem;

                @include respond-to-min(small) {
                  font-size: 1.125rem;
                }

                @include respond-to-min(medium) {
                    margin: 0 auto;
                    max-width: 500px;
                    font-size: 1.25rem;
                    letter-spacing: 1px;
                    margin-bottom: 1.5rem;
                 }
                @include respond-to-min(large) {
                    margin: 0 auto;
                    max-width: 500px;
                    font-size: 1.25rem;
                    margin-bottom: 2rem;
                 }
                   @include respond-to-min(uwide) {
                     max-width: 750px;
                     font-size: 1.75rem;
                     margin-bottom: 2.5rem;
                   }
               }

             /* Front page Btn */
             .front-hero-btn {

              }

           }
         }

         ul.slick-dots {
           position: absolute;
           bottom: 5vh;

           li button:before {
             font-size: 1rem;
             color: $color--white;
             opacity: 0.2;
             -webkit-transition: all 130ms ease-in-out;
             -moz-transition:  all 130ms ease-in-out;
             -o-transition:  all 130ms ease-in-out;
             transition: all 130ms ease-in-out;
           }

           li button:hover:before {
             color: $color--orange-light !important;
             opacity: 1;
           }

           li.slick-active button:before {
             color: $color--orange;
             opacity: 1;
           }
         }
       }


       .bg-image {
         background: $color--black;
         position: relative;
         top: 0;
         bottom: 0;
         left: 0;
         right: 0;
         height: 100%;
         width: 100%;
         overflow: hidden;

         .bg-image-main {
           height: 100%;
           max-height: 667px;
           width: 100%;
           max-width: 100%;
           opacity: 0.3;
           background-size: cover !important;

           @include respond-to-min(medium) {
              max-height: 768px;
           }
           @include respond-to-min(large) {
              max-height: 1080px;
           }
            @include respond-to-min(jumbo) {
              height: 100vh;
            }

           &.bg-image-mobile {
               @include respond-to-min(large) {
                 display: none;
               }
           }
           &.bg-image-desktop {
               @include respond-to-max(large) {
                 display: none;
               }
           }
         }
        }



     }




  }

  &.page-hero {
    position: relative;
    height: calc(100vh - 60px);

     @include respond-to-min(medium) {
        max-height: 768px;
     }
     @include respond-to-min(large) {
        height: calc(100vh - 80px);
        max-height: 1000px;
     }

    .hero-container{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox; /* TWEENER - IE 10 */
      display: -webkit-flex; /* NEW - Chrome */
      display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
      justify-content: center;
      align-items: center;
      height: calc(100vh - 60px);

       @include respond-to-min(medium) {
          max-height: 768px;
       }
       @include respond-to-min(large) {
          height: calc(100vh - 80px);
          max-height: 1000px;
       }

       .bg-image {
         position: relative;
         top: 0;
         bottom: 0;
         left: 0;
         right: 0;
         height: 100%;
         width: 100%;
         overflow: hidden;

         .bg-image-main {
           height: 100%;
           width: 100%;
           max-width: 100%;
           background-size: cover !important;
           height: calc(100vh - 60px);

            @include respond-to-min(medium) {
               max-height: 768px;
            }
            @include respond-to-min(large) {
               height: calc(100vh - 80px);
               max-height: 1000px;
            }

           &.bg-image-mobile {
               @include respond-to-min(large) {
                 display: none;
               }
           }
           &.bg-image-desktop {
               @include respond-to-max(large) {
                 display: none;
               }
           }
         }

         &.vertical-top:after {
             content: '';
             position: absolute;
             height: 100%;
             width: 100%;
             top: 0;
             bottom: 0;
             left: 0;
             right: 0;
             background: rgba(0,0,0,0);
             background: -moz-linear-gradient(top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.5) 80%, rgba(0,0,0,0) 100%);
             background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.5)), color-stop(80%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.9)));
             background: -webkit-linear-gradient(top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.5) 80%, rgba(0,0,0,0) 100%);
             background: -o-linear-gradient(top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.5) 80%, rgba(0,0,0,0) 100%);
             background: -ms-linear-gradient(top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.5) 80%, rgba(0,0,0,0) 100%);
             background: linear-gradient(to bottom, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.5) 80%, rgba(0,0,0,0) 100%);

             @include respond-to-min(large) {
                 background: rgba(0,0,0,0);
                 background: -moz-linear-gradient(top, rgba(0,0,0,0.9) 0%, rgba(42,46,56,0.5) 40%, rgba(0,0,0,0) 100%);
                 background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.5)), color-stop(40%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.9)));
                 background: -webkit-linear-gradient(top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.5) 40%, rgba(0,0,0,0) 100%);
                 background: -o-linear-gradient(top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.5) 40%, rgba(0,0,0,0) 100%);
                 background: -ms-linear-gradient(top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,0) 100%);
                 background: linear-gradient(to bottom, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.5) 40%, rgba(0,0,0,0) 100%);
           }
         }

         &.vertical-center{
           &:after {
             content: '';
             position: absolute;
             height: 100%;
             width: 100%;
             top: 0;
             bottom: 0;
             left: 0;
             right: 0;
             background: rgba(0,0,0,0.5);
           }
         }

         &.vertical-bottom:after {
             content: '';
             position: absolute;
             height: 100%;
             width: 100%;
             top: 0;
             bottom: 0;
             left: 0;
             right: 0;
             background: rgba(0,0,0,0);
             background: -moz-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.5) 30%, rgba(0,0,0,0.9) 100%);
             background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.2)), color-stop(30%, rgba(0,0,0,0.5)), color-stop(100%, rgba(0,0,0,0.9)));
             background: -webkit-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.5) 30%, rgba(0,0,0,0.9) 100%);
             background: -o-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.5) 30%, rgba(0,0,0,0.9) 100%);
             background: -ms-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.5) 30%, rgba(0,0,0,0.9) 100%);
             background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.5) 30%, #000000 100%);

            @include respond-to-min(large) {
             background: rgba(0,0,0,0);
             background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 25%, rgba(0,0,0,0.9) 100%);
             background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(25%, rgba(0,0,0,0.5)), color-stop(100%, rgba(0,0,0,0.9)));
             background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 25%, rgba(0,0,0,0.9) 100%);
             background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 25%, rgba(0,0,0,0.9) 100%);
             background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 25%, rgba(0,0,0,0.9) 100%);
             background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 25%, rgba(0,0,0,0.9) 100%);
           }
         }
       }

       .hero-content {
         position: absolute;
         height: 100%;
         width: 100%;
         top: 0;
         bottom: 0;
         left: 0;
         right: 0;
         display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
         display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
         display: -ms-flexbox; /* TWEENER - IE 10 */
         display: -webkit-flex; /* NEW - Chrome */
         display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
         flex-flow: column;

         .hero-logo {
             margin-bottom: 0.25rem;
           @include respond-to-min(medium) {
             margin-bottom: 0.5rem;
           }

           svg {
             height: 60px;

             @include respond-to-min(medium) {
               height: 80px;
             }
             @include respond-to-min(uwide) {
               height: 120px;
             }
           }
          }

        /* Front page Title */
        .hero-title {
          margin-bottom: 0.5rem;

         @include respond-to-min(large) {
           margin-bottom: 1rem;
         }
          @include respond-to-min(uwide) {
            margin-bottom: 1.5rem;
          }

          .page-title:after {
            background: $color--white;
          }

         }

         /* Front page Title */
         .hero-text {
           p.subtitle {
             font-family: $serif;
             color: $color--white;
             font-size: 1rem;

             @include respond-to-min(small) {
               font-size: 1.125rem;
             }

             @include respond-to-min(medium) {
                 font-size: 1.25rem;
                 letter-spacing: 1px;
              }
             @include respond-to-min(large) {
                 font-size: 1.25rem;
                 margin-bottom: 1rem;
              }
                @include respond-to-min(uwide) {
                  font-size: 1.75rem;
                }
            }
            p {
              color: $color--white;
            }

         }

         .hero-btn {

           .buttons-wrap {
             display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
             display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
             display: -ms-flexbox; /* TWEENER - IE 10 */
             display: -webkit-flex; /* NEW - Chrome */
             display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
             flex-flow: row;
             flex-wrap: wrap;
             justify-content: flex-start;
             align-items: flex-start;
             width: 100%;
             margin-top: 1rem;
             @include respond-to-max(large) {
               margin-top: 2rem;
             }

             .btn + .btn {
               margin-left: 1rem;
             }
           }

         }


         &.vertical-top {
           padding-top: 5vh;
           justify-content: flex-start;
         }

         &.vertical-center {
           padding-top: 5vh;
           justify-content: center;
         }

         &.vertical-bottom {
           padding-bottom: 5vh;
           justify-content: flex-end;
         }

         &.align-left {
           .page-title:after {
             left: 0;
             right: auto;
             margin: 0 auto;
           }
         }
         &.align-center {
           text-align: center;
           .hero-text {
             p.subtitle {
               margin-bottom: 1.25rem;
               @include respond-to-min(small) {
                 font-size: 1.125rem;
               }

               @include respond-to-min(medium) {
                   margin: 0 auto;
                   max-width: 500px;
                   font-size: 1.25rem;
                   letter-spacing: 1px;
                   margin-bottom: 1.5rem;
                }
               @include respond-to-min(large) {
                   margin: 0 auto;
                   max-width: 500px;
                   font-size: 1.25rem;
                   margin-bottom: 2rem;
                }
                  @include respond-to-min(uwide) {
                    max-width: 750px;
                    font-size: 1.75rem;
                    margin-bottom: 2.5rem;
                  }
              }
              p {
                color: $color--white;
              }
           }
         }
         &.align-right {
           align-items: left;
           text-align: right;
         }
       }


     }


  }


}

/* Hide SVG Until page load */
html.js-loaded {
      .front-hero-content {
        opacity: 1 !important;
      }
}
