
/* =============================================
================================================
Images
================================================
============================================= */

img,
video {
    height: auto; /* Make sure images are scaled correctly. */
    max-width: 100%; /* Adhere to container width. */
}

img.alignleft,
img.alignright {
    float: none;
    margin: 0;
}
