
/* =============================================
================================================
Links
================================================
============================================= */

a {
  color: $color--primary;
  text-decoration: none;
}


a:hover,
a:active {
  color: $color--orange;
  outline: 0;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: color 130ms ease-in-out;
  -moz-transition:  color 130ms ease-in-out;
  -o-transition:  color 130ms ease-in-out;
  transition: color 130ms ease-in-out;
}

li a,
p a {
  color: $color--orange;
}

li a:hover,
p a:hover {
  color: $color--orange-light;
}
