/* =============================================
================================================
Sliders
================================================
============================================= */
.slider-controls {
  width: 100%;
  max-width: 1440px;
  height: 20px;
  margin: 0 auto;
  position: absolute;
  bottom: 38px;
  left: 0;
  right: 0;
}
