/* =============================================
================================================
Colours
================================================
============================================= */

// Generic

$color--black:          #00000A !default;
$color--white:          #FFFFFF !default;


// PRIMARY colors
$color--orange: #EF4E22;
$color--orange-light: #F89C1B;

// ACCENT colors
$color--blue: #6E7B8B;
$color--blue-light: #94D7E8;


// ADDTIONAL colors
$color--bgreen: #C3EA0A;

// NEUTRAL colors

$color--grey: #3E3E43;
$color--warmgrey: #E3E1DB;
$color--warmyellow: #F7DBBB;

// Primary & Secondary

$color--primary: $color--orange;
$color--secondary: $color--orange-light;

// Background Colours

.bg-none,
.bg-white {
  background-color: $color--white !important;

  h1, h2, h3, h4, h5 {
    color:$color--black;
  }
  p {
    color: $color--grey;
  }

  .layout-curve svg g {
    fill:  $color--white;
  }
  .page-title:after,
  .page-title.black-color:after {
    background: $color--primary;
  }

  .page-title.orange-color:after {
    background: $color--black;
  }

}

.bg-orange {
  background-color: $color--primary !important;

    h1, h2, h3, h4, h5, p {
      color: $color--white;
    }

    thead tr {
      cursor: default;
      background: $color--white !important;
    }
    thead th {
      color: $color--white;
    }

    tr {
      background: $color--white;
      border-bottom: 1px solid #eee;
    }

    .layout-curve svg g {
      fill:  $color--primary;
    }
    .page-title.white-color:after {
      background: $color--white;
    }

}

.bg-orange-light {
  background-color: $color--orange-light !important;

  h1, h2, h3, h4, h5 {
    color:$color--black;
  }
   p {
        color:$color--black;
    }
    .page-title.black-color:after {
      background: $color--primary;
    }
    .layout-curve svg g {
      fill:  $color--orange-light;
    }

}

.bg-blue {
  background-color: $color--blue !important;

    h1, h2, h3, h4, h5, p {
      color: $color--black;
    }

    .layout-curve svg g {
      fill:  $color--blue;
    }

    .page-title.blue-color:after,
    .page-title.blue-color-light:after {
      background: $color--white;
    }
}

.bg-blue-light {
  background-color: $color--blue-light !important;

  h1, h2, h3, h4, h5 {
    color:$color--black;
  }
  p {
      color: $color--grey;
    }

    .layout-curve svg g {
      fill:  $color--blue-light;
    }

    .page-title.blue-light-color-color:after,
    .page-title:after {
      background: $color--blue;
    }

}

.bg-grey {
  background-color: $color--grey !important;

    h1, h2, h3, h4, h5, p {
      color: $color--white;
    }

    .layout-curve svg g {
      fill:  $color--grey;
    }
    .page-title:after {
      background: $color--black;
    }
    .page-title.white-color:after {
      background: $color--orange;
    }
    .page-title.orange-color:after {
      background: $color--white;
    }
}


.bg-warmyellow {
  background-color: $color--warmyellow !important;

    h1, h2, h3, h4, h5 {
      color:$color--black;
    }
    p, li {
        color:$color--black;
    }
    .page-title:after,
    .page-title.white-color:after {
      background: $color--orange;
    }
    .page-title.black-color:after,
    .page-title.orange-color:after {
      background: $color--black;
    }

    .layout-curve svg g {
      fill:  $color--warmyellow;
    }

}

.bg-warmgrey {
  background-color: $color--warmgrey!important;

  h1, h2, h3, h4, h5 {
    color:$color--black;
  }
  p {
        color: $color--grey;
    }

    .layout-curve svg g {
      fill:  $color--warmgrey;
    }
    .page-title:after {
      background: $color--grey;
    }
    .page-title.white-color:after {
      background: $color--orange;
    }
    .page-title.black-color:after,
    .page-title.orange-color:after {
      background: $color--grey;
    }


}

.bg-black {
  background-color: $color--black !important;

    h1, h2, h3, h4, h5, p {
        color: $color--white;
    }

    .layout-curve svg g {
      fill:  $color--black;
    }

}


// Title Colours

h1, h2, h3, h4, h5, p {

    &.orange-color {
      color: $color--primary !important;
    }
    &.orange-light-color {
      color: $color--orange-light !important;
    }
    &.blue-color {
      color: $color--blue !important;
    }
    &.blue-color-light {
      color: $color--blue-light !important;
    }
    &.white-color {
      color: $color--white !important;
    }
    &.grey-color {
      color: $color--grey !important;
    }
    &.black-color {
      color: $color--black !important;
    }

}
