/* =============================================
================================================
 Mixin Breakpoints
================================================
============================================= */

// Narrow
$narrow: 20rem; // 320
// Small
$small: 23.4375rem; // 375
// Medium
$medium: 40rem; // 640
// Large
$large: 60rem; // 960
// Wide
$wide: 75rem; // 1200
// Ultra Wide
$uwide: 90rem; // 1440
// Super Ultra Wide
$suwide: 100rem; // 1600
// Jumbo
$jumbo: 120rem; // 1920

// Massive
$massive: 156.2rem; // 2500

// Minimum Screen Width
@mixin respond-to-min($screen) {
  @if $screen == narrow {
    @media only screen and (min-width: $narrow) {
      @content;
    }
  } @else if $screen == small {
    @media only screen and (min-width: $small) {
      @content;
    }
  } @else if $screen == medium {
    @media only screen and (min-width: $medium) {
      @content;
    }
  } @else if $screen == large {
    @media only screen and (min-width: $large) {
      @content;
    }
  } @else if $screen == wide {
    @media only screen and (min-width: $wide) {
      @content;
    }
  } @else if $screen == uwide {
    @media only screen and (min-width: $uwide) {
      @content;
    }
  } @else if $screen == suwide {
    @media only screen and (min-width: $suwide) {
      @content;
    }
  } @else if $screen == jumbo {
    @media only screen and (min-width: $jumbo) {
      @content;
    }
  } @else if $screen == massive {
    @media only screen and (min-width: $massive) {
      @content;
    }
  }
}

// Maximum Screen Width
@mixin respond-to-max($screen) {
  @if $screen == narrow {
    @media only screen and (max-width: $narrow - 1) {
      @content;
    }
  } @else if $screen == small {
    @media only screen and (max-width: $small - 1) {
      @content;
    }
  } @else if $screen == medium {
    @media only screen and (max-width: $medium - 1) {
      @content;
    }
  } @else if $screen == large {
    @media only screen and (max-width: $large - 1) {
      @content;
    }
  } @else if $screen == wide {
    @media only screen and (max-width: $wide - 1) {
      @content;
    }
  } @else if $screen == uwide {
    @media only screen and (max-width: $uwide - 1) {
      @content;
    }
  } @else if $screen == suwide {
    @media only screen and (max-width: $suwide - 1) {
      @content;
    }
  } @else if $screen == Jumbo {
    @media only screen and (max-width: $jumbo - 1) {
      @content;
    }
  }
}
