/* =============================================
================================================
 Typography
================================================
============================================= */

@font-face {
  font-family: 'Graphik';
  src: url('../../assets/fonts/Graphik-Regular.eot');
  src: url('../../assets/fonts/Graphik-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/Graphik-Regular.woff2') format('woff2'),
  url('../../assets/fonts/Graphik-Regular.woff') format('woff'),
  url('../../assets/fonts/Graphik-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('../../assets/fonts/Graphik-Medium.eot');
  src: url('../../assets/fonts/Graphik-Medium.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/Graphik-Medium.woff2') format('woff2'),
  url('../../assets/fonts/Graphik-Medium.woff') format('woff'),
  url('../../assets/fonts/Graphik-Medium.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('../../assets/fonts/Graphik-Semibold.eot');
  src: url('../../assets/fonts/Graphik-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/Graphik-Semibold.woff2') format('woff2'),
  url('../../assets/fonts/Graphik-Semibold.woff') format('woff'),
  url('../../assets/fonts/Graphik-Semibold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Produkt';
  src: url('../../assets/fonts/Produkt-Regular.eot');
  src: url('../../assets/fonts/Produkt-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/Produkt-Regular.woff2') format('woff2'),
  url('../../assets/fonts/Produkt-Regular.woff') format('woff'),
  url('../../assets/fonts/Produkt-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Produkt';
  src: url('../../assets/fonts/Produkt-Medium.eot');
  src: url('../../assets/fonts/Produkt-Medium.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/Produkt-Medium.woff2') format('woff2'),
  url('../../assets/fonts/Produkt-Medium.woff') format('woff'),
  url('../../assets/fonts/Produkt-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Produkt';
  src: url('../../assets/fonts/Produkt-Semibold.eot');
  src: url('../../assets/fonts/Produkt-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/Produkt-Semibold.woff2') format('woff2'),
  url('../../assets/fonts/Produkt-Semibold.woff') format('woff'),
  url('../../assets/fonts/Produkt-Semibold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


$serif: "Produkt", "Helvetica Neue", helvetica, arial, sans-serif;
$sans-serif: "Graphik", "Helvetica Neue", helvetica, arial, sans-serif;

body,
button,
input,
select,
textarea {
  color: $color--grey;
  font-family: $sans-serif;

  font-weight: 400;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.375;

  @include respond-to-min(small) {
    font-size: 16px;
    font-size: 1rem;
  }

  @include respond-to-min(uwide) {
    font-size: 18px;
    font-size: 1.25rem;

  }
}

p {
  margin: 0;
  padding: 0;
}

p + p {
  margin-top: 1rem;
  padding: 0;

  @include respond-to-min(wide) {
    margin-top: 1.5rem;
  }
}


p + h5,
p + ul,
p + ol,
ol + p,
ul + p,
h5 + p {
  margin-top: 1rem;
  padding: 0;

  @include respond-to-min(wide) {
    margin-top: 1.5rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: 1.75rem;
  font-weight: normal;
  clear: both;
  margin: 0;
  font-family: "Produkt", "Helvetica Neue", helvetica, arial, sans-serif;

  @include respond-to-min(small) {
    font-size: 2rem;
  }

  @include respond-to-min(medium) {
    font-size: 3.25rem;
  }

  @include respond-to-min(wide) {
    font-size: 3.75rem;
  }

  @include respond-to-min(uwide) {
    font-size: 4rem;
  }

  @include respond-to-min(suwide) {
    font-size: 4.25rem;
  }

  @include respond-to-min(jumbo) {
    font-size: 4.5rem;
  }

  &.page-title {
    position: relative;
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
    font-weight: normal;
    font-family: "Produkt", "Helvetica Neue", helvetica, arial, sans-serif;

    @include respond-to-min(small) {
      font-size: 2rem;
      margin-bottom: 1.75rem;
    }

    @include respond-to-min(medium) {
      font-size: 3rem;
      margin-bottom: 2rem;
    }

    @include respond-to-min(wide) {
      font-size: 3.5rem;
      margin-bottom: 2.25rem;
    }

    @include respond-to-min(uwide) {
      font-size: 3.75rem;
      margin-bottom: 2.75rem;
    }

    @include respond-to-min(suwide) {
      font-size: 4rem;
      margin-bottom: 3.75rem;
    }

    /* Dash Under Title */
    &:after {
      content: '';
      position: absolute;
      bottom: -0.75rem;
      width: 48px;
      height: 3px;
      border-radius: 1px;
      margin: 0 auto;
      left: 0;
      right: 0;

      @include respond-to-min(wide) {
          bottom: -1rem;
          width: 64px;
          height: 5px;
          border-radius: 2px;
      }

      @include respond-to-min(suwide) {
          bottom: -1.5rem;
      }

    }
  }

}

section.align-center .page-title {
  &:after {
    margin: 0 auto;
  }
}


h2 {

    font-size: 20px;
    font-size: 1.25rem;
    letter-spacing: 0.25px;
    font-weight: 500;
    font-family: "Produkt", "Helvetica Neue", helvetica, arial, sans-serif;

    @include respond-to-min(medium) {
      font-size: 22px;
      font-size: 1.375rem;
      font-weight: 500;
    }

    @include respond-to-min(wide) {
      font-size: 26px;
      font-size: 1.625rem;
      font-weight: 500;
    }

    @include respond-to-min(suwide) {
      font-size: 28px;
      font-size: 1.75rem;
      font-weight: 500;
    }


    @include respond-to-min(jumbo) {
      font-size: 34px;
      font-size: 2.125rem;
      font-weight: 500;
    }

    &.page-title {
      position: relative;
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
      font-weight: normal;
      font-family: "Produkt", "Helvetica Neue", helvetica, arial, sans-serif;

      @include respond-to-min(small) {
        font-size: 1.75rem;
        margin-bottom: 1.25rem;
      }

      @include respond-to-min(medium) {
        font-size: 2rem;
        margin-bottom: 2rem;
      }

      @include respond-to-min(wide) {
        font-size: 2.5rem;
        margin-bottom: 2.25rem;
      }

      @include respond-to-min(uwide) {
        font-size: 3.25rem;
        margin-bottom: 2.75rem;
      }

      @include respond-to-min(suwide) {
        font-size: 3.5rem;
        margin-bottom: 3.75rem;
      }

      /* Dash Under Title */
      &:after {
        content: '';
        position: absolute;
        bottom: -0.75rem;
        width: 48px;
        height: 3px;
        border-radius: 1px;
        left: 0;

          @include respond-to-min(wide) {
              bottom: -1.25rem;
              width: 64px;
              height: 5px;
              border-radius: 2px;
          }

          @include respond-to-min(suwide) {
              bottom: -1.5rem;
          }

      }
    }

}



h3 {
  font-size: 26px;
  font-size: 1.625rem;
  font-weight: 900;
  letter-spacing: 0.5px;
  font-family: "Produkt", "Helvetica Neue", helvetica, arial, sans-serif;

    @include respond-to-min(narrow) {
      font-size: 30px;
      font-size: 1.875rem;
    }

    @include respond-to-min(medium) {
      font-size: 48px;
      font-size: 3rem;
      letter-spacing: 1px;
    }

    @include respond-to-min(wide) {
      font-size: 60px;
      font-size: 3.75rem;
      letter-spacing: 1.5px;
    }

    @include respond-to-min(suwide) {
      font-size: 65px;
      font-size: 4.625rem;
      letter-spacing: 2px;
    }

    @include respond-to-min(jumbo) {
      font-size: 80px;
      font-size: 5rem;
      letter-spacing: 2.25px;
    }

}

section.align-center {
    .page-title:after {
      left: 0;
      right: 0;
      margin: 0 auto;
    }
}

section.align-left {
  .page-title:after {
    left: 0;
    right: auto;
    margin: 0 auto;
  }
}

.rhs-front-page {
  h3.page-title {
    position: relative;
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
    font-weight: normal;
    font-family: "Produkt", "Helvetica Neue", helvetica, arial, sans-serif;

    @include respond-to-min(small) {
      font-size: 2rem;
      margin-bottom: 1.25rem;
    }

    @include respond-to-min(medium) {
      font-size: 3rem;
      margin-bottom: 2rem;
    }

    @include respond-to-min(wide) {
      font-size: 3.5rem;
      margin-bottom: 2.25rem;
    }

    @include respond-to-min(uwide) {
      font-size: 3.75rem;
      margin-bottom: 2.75rem;
    }

    @include respond-to-min(suwide) {
      font-size: 4rem;
      margin-bottom: 3.75rem;
    }

    /* Dash Under Title */
    &:after {
      content: '';
      position: absolute;
      bottom: -0.75rem;
      width: 48px;
      height: 3px;
      border-radius: 1px;
      left: 0;

        @include respond-to-min(wide) {
            bottom: -1rem;
            width: 64px;
            height: 5px;
            border-radius: 2px;
        }

        @include respond-to-min(suwide) {
            bottom: -1.5rem;
        }

    }
  }
}

h4 {
  font-size: 20px;
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
  font-family: "Produkt", "Helvetica Neue", helvetica, arial, sans-serif;

  @include respond-to-min(large) {
    font-size: 22px;
    font-size: 1.375rem;
    margin-bottom: 1.125rem;
  }

  @include respond-to-min(wide) {
    font-size: 24px;
    font-size: 1.5rem;
  }

  &.subtitle {



  }
}

h5 {
  font-size: 20px;
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
  font-family: "Produkt", "Helvetica Neue", helvetica, arial, sans-serif;

  @include respond-to-min(large) {
    font-size: 22px;
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  @include respond-to-min(wide) {
    font-size: 1.375rem;
    margin-bottom: 1.25rem;
  }
}

h6 {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 900;
  font-family: "Produkt", "Helvetica Neue", helvetica, arial, sans-serif;
}

a.subtitle,
p.subtitle {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 500;
  font-family: "Produkt", "Helvetica Neue", helvetica, arial, sans-serif;
}



/*--------------------------------------------------------------
7.0 Formatting
--------------------------------------------------------------*/

hr {
  background-color: #bbb;
  border: 0;
  height: 1px;
  margin-bottom: 1.5rem;
}
