/* =============================================
================================================
 Tables
================================================
============================================= */

table {
  border-collapse: collapse;
  margin-top: 1rem;
  width: 100%;
  text-align: left;
  @include respond-to-max(medium) {
    font-size: 0.75rem;
  }
  @include respond-to-min(large) {
    margin-top: 2rem;
  }
}

thead tr {
  cursor: default;
  background: $color--black;
}
thead th {
  color: $color--white;
}

td,
th {
    padding: 0.5rem;
    @include respond-to-min(large) {
      padding: 1rem;
  }
}

tr {
  @include respond-to-min(large) {
  line-height: 1.5;
}
  cursor: pointer;
  border-bottom: 1px solid $color--black;
  -webkit-transition: all 130ms ease-in-out;
  -moz-transition:  all 130ms ease-in-out;
  -o-transition:  all 130ms ease-in-out;
}

tbody tr:hover {
  background: $color--orange-light;
  color: $color--black;
}

tbody tr span {
  font-size: 0.625rem;
  @include respond-to-min(medium) {
    font-size: 0.75rem;
  }
  @include respond-to-min(large) {
    font-size: 0.875rem;
  }
  @include respond-to-min(uwide) {
    font-size: 1rem;
  }
}
