/* =============================================
================================================
 Footer
================================================
============================================= */

.site-footer {
  flex-shrink: 0;
  overflow: hidden;


    .footer-row {
      position: relative;

      @include respond-to-min(large) {
        height: 100%;
        max-height: 450px;
      }
      @include respond-to-min(wide) {
        max-height: 480px;
      }
      @include respond-to-min(uwide) {
        margin: 0 -1rem;
      }

      &.upper {
        background: $color--grey;
        padding: 1.5rem 0 0.5rem 0;

        &:after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: 89px;
          height: 132px;
          background-size: cover !important;
          background-repeat: no-repeat;
          background-position: center center;
          background: url('../../assets/images/patterns/rhs-footer-pattern.svg');
        }

        @include respond-to-min(medium) {
            padding: 2rem 0 1rem 0;
        }
        @include respond-to-min(large) {
            padding: auto;
            &:after {
              display: none;
            }
        }

        .wrap,
        .menu-main-menu-container {
          height: 100%;
        }

        .footer-row-container {
          position: relative;

          @include respond-to-min(large) {
            padding-bottom: 3rem;
          }

          /* Social Icons */

          .footer-social {
            margin-bottom: 0.75rem;

            @include respond-to-min(large) {
              margin-bottom: 0;
              position: absolute;
              width: 146px;
              top: 0;
              right: 0;
              left: auto;
              top: auto;
              right: 0px;
              top: 0px;
            }

            a {
              margin-right: 5px;

              @include respond-to-max(large) {
                display: inline-block;
                height: 32px;
                width: 32px;
              }

              svg {
                max-width: 32px;
                height: 32px;

                @include respond-to-min(large) {
                  max-width: 42px;
                  height: 42px;
                }

                g#Facebook-Symbol path#Path,
                g#Insta-Icon path#Shape,
                g#Insta-Icon path#Path,
                g#Compass-Icon path#Shape {
                  -webkit-transition: fill 130ms ease-in-out;
                  -moz-transition:  fill 130ms ease-in-out;
                  -o-transition:  fill 130ms ease-in-out;
                }

              }

              &:hover {
                g#Facebook-Symbol path#Path {
                    fill: $color--orange-light;
                }
                g#Insta-Icon path#Shape,
                g#Insta-Icon path#Path {
                    fill: $color--orange-light;
                }

                g#Compass-Icon path#Shape {
                    fill: $color--orange-light;
                }
                g#noun_Compass_1289320 g path#Shape {
                  fill: $color--white;
                }

              }
            }
          }
        }

        @include respond-to-min(large) {
          padding: 4rem 0;
        }

        ul#footer-menu {
          display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
          display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
          display: -ms-flexbox; /* TWEENER - IE 10 */
          display: -webkit-flex; /* NEW - Chrome */
          display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
          flex-flow: column;
          list-style: none;
          padding: 0;
          margin: 0;
          height: 100%;

          @include respond-to-min(large) {
            flex-flow: row;
            justify-content: space-between;
            padding-right: 200px;
          }
            li {
              margin-bottom: 0;
            }

            li.dn-desktop {
                @include respond-to-min(large) {
                  display: none;
                }
            }

            li.menu-parent {
              cursor: pointer;
              line-height: 1;
              margin-bottom: 0;
              padding-bottom: 1rem;
              padding-left: 1.5rem;

              @include respond-to-min(large) {
                padding-left: 0;
                min-width: 115px;
              }

              @include respond-to-min(uwide) {
                min-width: 200px;
              }

              a {
                position: relative;
                cursor: pointer;
                pointer-events: none;
                font-weight: bold;
                margin-bottom: 3rem;
                font-size: 1.125rem;
                font-family: $serif;
                letter-spacing: 1.25px;
                color: $color--white !important;

                @include respond-to-min(large) {
                  font-size: 1.125rem;
                  pointer-events: auto;
                }
                @include respond-to-min(wide) {
                  font-size: 1.375rem;
                }
                @include respond-to-min(suwide) {
                  font-size: 1.5rem;
                }

                &:hover {
                  color: $color--orange !important;
                }

                br {
                  display: none;
                  @include respond-to-min(large) {
                    display: block;
                  }
                }

                &:after {
                  content: '';
                  position: absolute;
                  width: 13px;
                  height: 13px;
                  background-size: 13px;
                  background-repeat: no-repeat;
                  background-position: center center;
                  background: url('../../assets/images/icons/rhs-plus-icon-orange.svg');
                  left: -1.5rem;
                  top: 3px;
                  @include respond-to-min(large) {
                    display: none;
                  }
                }

              }

              &.active {

                  a {
                    @include respond-to-max(large) {
                      color: $color--orange !important;

                    &:after {
                      background-size: 13px;
                      background-repeat: no-repeat;
                      background-position: center center;
                      background: url('../../assets/images/icons/rhs-minus-icon-orange.svg');
                    }
                  }
                }
              }


            .submenu-container {
              display: none;
              @include respond-to-min(large) {
                display: block;
                display: block !important;
                height: auto !important;
                overflow: visible !important;
              }

              /* Sub Menus */
              ul.sub-menu {
                list-style: none;
                padding: 0;
                margin: 0;
                padding-top: 0.5rem;
                line-height: 2;

                @include respond-to-min(large) {
                  position: relative;
                  padding-top: 2.5rem;
                  height: 100%;
                  &:after {
                    content: '';
                    position: absolute;
                    top: 1.25rem;
                    left: 0;
                    width: 64px;
                    height: 3px;
                    background: $color--orange;
                  }
                }

                li a {
                  cursor: pointer;
                  pointer-events: auto;
                  font-weight: normal;
                  color: $color--white !important;
                  letter-spacing: 0;
                  text-transform: none;
                  font-size: 0.875rem;
                  font-family: $sans-serif;

                  @include respond-to-min(large) {
                    font-size: 1rem;
                  }
                  @include respond-to-min(wide) {
                    font-size: 1.125rem;
                  }
                  @include respond-to-min(suwide) {
                    font-size: 1.25rem;
                  }

                  &:hover {
                    color: $color--orange !important;
                  }
                  &:after {
                    display: none;
                  }
                }
              }
            }

              &:last-of-type {
                  @include respond-to-min(large) {
                    position: absolute;
                    top: 100px;
                    right: 200px;
                    &:after {
                      content: '';
                      position: absolute;
                      top: 2.75rem;
                      left: 0;
                      width: 64px;
                      height: 3px;
                      background: $color--orange;
                    }
                  }
                  a {
                    pointer-events: auto;
                  }

              }

              &:nth-of-type(5) {

                  @include respond-to-min(large) {
                    position: relative;
                    &:after {
                      content: '';
                      position: absolute;
                      top: 2.75rem;
                      left: 0;
                      width: 64px;
                      height: 3px;
                      background: $color--orange;
                    }
                  }
                  a {
                    pointer-events: auto;
                  }

              }

            }
        }


        .footer-row-bottom-container {
          display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
          display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
          display: -ms-flexbox; /* TWEENER - IE 10 */
          display: -webkit-flex; /* NEW - Chrome */
          display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
          flex-flow: column;
          padding: 0;
          margin: 0;

          @include respond-to-min(large) {
            flex-flow: row;
            justify-content: space-between;
          }

          .acknowledge {
            max-width: 660px;
            margin-bottom: 1rem;
            @include respond-to-min(large) {
              margin-bottom: 0;
            }

            p {
              font-size: 0.75rem;
              color: $color--white;
              opacity: 0.75;
              @include respond-to-min(medium) {
                font-size: 0.875rem;
              }
              @include respond-to-min(large) {
                font-size: 1rem;
              }
            }
          }

          .goverment {

          }

        }
      }



      /* Bottom Row */

      &.bottom {
        padding: 1rem 0;
        background: #2E2E32;

        @include respond-to-min(large) {
          height: 80px;
          padding: 0;
        }

        .footer-row-container {
          display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
          display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
          display: -ms-flexbox; /* TWEENER - IE 10 */
          display: -webkit-flex; /* NEW - Chrome */
          display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
          flex-flow: column;
          align-content: center;

          @include respond-to-min(large) {
            flex-flow: row;
            justify-content: space-between;
            height: 80px;
          }

          .footer-col {
            margin-bottom: 0.25rem;

            @include respond-to-min(large) {
              display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
              display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
              display: -ms-flexbox; /* TWEENER - IE 10 */
              display: -webkit-flex; /* NEW - Chrome */
              display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
              -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
              -moz-box-flex: 1; /* OLD - Firefox 19- */
              -webkit-flex: 1; /* Chrome */
              -ms-flex: 1; /* IE 10 */
              flex: 1; /* NEW, Spec - Opera 12.1, Firefox 20+ */
              align-items: center;
              padding-bottom: 0;
              height: 100%;
              margin-bottom: 0;
            }


            &.legal {
              p {
                margin: 0;
                color: $color--white;
                font-size: 0.75rem;
                @include respond-to-min(large) {
                  font-size: 0.75rem;
                }
                @include respond-to-min(wide) {
                  font-size: 0.875rem;
                }
              }
            }

            &.terms {
              justify-content: center;

              a {
                color: $color--white;
                display: inline-block;
                font-size: 0.75rem;
                padding-right: 1rem;
                @include respond-to-min(large) {
                  font-size: 0.75rem;
                  padding-right: 1rem;
                  margin-right: 1rem;
                  position: relative;
                }
                @include respond-to-min(wide) {
                  font-size: 0.875rem;
                  padding-right: 2rem;
                  margin-right: 2rem;
                }
                &:after {
                  @include respond-to-min(large) {
                    content: '|';
                    position: absolute;
                    right: 0;
                    font-size: 0.875rem;
                    color: $color--white;
                  }
                }
                &:hover {
                  color: $color--orange;
                }
                &:last-of-type {
                  padding-right: 0;
                  margin-right: 0;
                  &:after {
                    display: none;
                  }

                }
              }
            }

            &.website {
              @include respond-to-min(large) {
                justify-content: flex-end;
              }
              p {
                margin: 0;
                font-size: 0.75rem;
                color: $color--white;

                @include respond-to-min(large) {
                  font-size: 0.75rem;
                }
                @include respond-to-min(wide) {
                  font-size: 0.875rem;
                }
                a {
                  color: $color--white;
                  font-weight: bold;

                  &:hover {
                    color: $color--orange;
                  }
                }
              }
            }
          }
        }


      }
    }


}
