/* =============================================
================================================
 Header
================================================
============================================= */

#masthead .wrap {
  position: relative;
}

.site-header {
  position: fixed;
  height: 0px;
  width: 100%;
  z-index: 99;
  height: 60px;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;

  @include respond-to-min(large) {
    height: 80px;
  }

  .wrap {
    height: 100%;

    .navigation-top {
      display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox; /* TWEENER - IE 10 */
      display: -webkit-flex; /* NEW - Chrome */
      display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
      flex-flow: row;
      justify-content: flex-end;
      align-items: center;
      padding: 0;
      margin: 0;
      height: 100%;
      z-index: 9999;
      position: relative;

      .header-logo {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 1;
        visibility: visible;
        transition: all 250ms ease-in-out;
        transition: all 250ms ease-in-out;
        transition: all 250ms ease-in-out;

        a {
          display: block;
          height: 50px;

          @include respond-to-min(large) {
            height: 66px;
          }

          svg {
              width: 90px;
              height: 50px;

              @include respond-to-min(large) {
                width: 117px;
                height: 66px;
              }

              path#Fill-1,
              path#Fill-3,
              polygon#Fill-4,
              polyline#Fill-2,
              g.st0 {
                display: block;
                -webkit-transition: all 250ms ease-in-out;
                -moz-transition:  all 250ms ease-in-out;
                -o-transition:  all 250ms ease-in-out;
                transition: all 250ms ease-in-out;
              }

          }

          &:hover {
            path#Fill-1,
            path#Fill-3,
            polygon#Fill-4,
            polyline#Fill-2 {
                fill: $color--orange;
            }

          }

          &:hover + svg {
            path#Fill-1,
            path#Fill-3,
            polygon#Fill-4,
            polyline#Fill-2,
            g.st0 {
              fill: $color--orange;
              -webkit-transition: all 250ms ease-in-out;
              -moz-transition:  all 250ms ease-in-out;
              -o-transition:  all 250ms ease-in-out;
              transition: all 250ms ease-in-out;
            }
          }

        }

      }

      .header-menu {
        display: none;

          @include respond-to-min(wide) {
            display: block;
            height: 100%;
          }

        .menu-main-menu-container {
          height: 100%;
        }

        ul#main-menu {
          margin: 0;
          height: 100%;
          list-style: none;

          li {
            margin: 0;
            margin-left: 1rem;
            height: 100%;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: inline-flex;
            flex-flow: row;
            align-items: center;

            a {
              font-weight: 700;
              color: $color--white;
              -webkit-transition: all 130ms ease-in-out;
              -moz-transition:  all 130ms ease-in-out;
              -o-transition:  all 130ms ease-in-out;
              font-size: 1.125rem;
              letter-spacing: 0.25px;

              @include respond-to-min(wide) {
                font-size: 1.25rem;
                letter-spacing: 0.75px;
              }

              &:hover {
                color: $color--primary;
              }
            }

            .no-link a {
              pointer-events: none;
            }

            &.menu-item-has-children {

              position: relative;

              a {
                position: relative;
                padding-right: 1.75rem;

                &:after {
                  position: absolute;
                  content: '';
                  bottom: 0;
                  right: 0;
                  width: 18px;
                  height: 100%;
                  background-size: contain !important;
                  background: url('../../assets/images/icons/rhs-arrow-down-white.svg') no-repeat center center;
                  transition: all 250ms ease-in-out;
                  -o-transition: all 250ms ease-in-out;
                  -ms-transition: all 250ms ease-in-out;
                  -moz-transition: all 250ms ease-in-out;
                  -webkit-transition: all 250ms ease-in-out;
                }



              }



              &.submenu-open {
                a {
                  color: $color--primary;
                  &:after {
                    background-size: contain !important;
                    background: url('../../assets/images/icons/rhs-arrow-down-orange.svg') no-repeat center center;
                    transform: rotate(180deg);
                  }
                }
                .submenu-container {
                  opacity: 1;
                  visibility: visible;

                  -webkit-transition: all 250ms ease-in-out;
                  -moz-transition:  all 250ms ease-in-out;
                  -o-transition:  all 250ms ease-in-out;
                }
              }

              .submenu-container {
                position: absolute;
                z-index: 98;
                top: 80px;
                opacity: 0;
                visibility: hidden;
                left: 0px;
                min-width: 250px;
                width: 100%;
                -webkit-transition: all 200ms ease-in-out;
                -moz-transition:  all 200ms ease-in-out;
                -o-transition:  all 200ms ease-in-out;
                padding: 1.25rem;
                background: rgba(62,62,67,0.975);
                border-top: 5px solid $color--primary;
                -webkit-box-shadow: 0px -4px 12px 3px rgba(42,46,56,0.35);
                -moz-box-shadow: 0px -4px 12px 3px rgba(42,46,56,0.35);
                box-shadow: 0px -4px 12px 3px rgba(42,46,56,0.35);

                -webkit-border-bottom-right-radius: 20px;
                -moz-border-radius-bottomright: 20px;
                border-bottom-right-radius: 20px;

                ul.sub-menu {

                  list-style: none;
                  margin: 0;

                  li {
                    margin: 0;
                    margin-top: 0.5rem;
                    display: block;

                    a {
                      color: $color--white;
                      background: none;
                      padding: 0;
                      font-weight: normal;
                      font-size: 1.125rem;

                      &:hover {
                        color: $color--secondary;
                      }
                      &:after {
                        background: none;
                      }
                    }
                  }
                }
              }

            }


          }

        }

      }

      .header-social {
        display: none;


          @include respond-to-min(wide) {
            margin-left: 2rem;
            display: block;
          }

        a {
          margin-right: 5px;

          @include respond-to-max(large) {
            display: inline-block;
            height: 32px;
            width: 32px;
          }

          svg {
            max-width: 32px;
            height: 32px;

            @include respond-to-min(large) {
              max-width: 42px;
              height: 42px;
            }

            g#Facebook-Symbol path#Path,
            g#Insta-Icon path#Shape,
            g#Insta-Icon path#Path,
            g#Compass-Icon path#Shape {
              -webkit-transition: fill 130ms ease-in-out;
              -moz-transition:  fill 130ms ease-in-out;
              -o-transition:  fill 130ms ease-in-out;
            }

          }

          &:hover {
            g#Facebook-Symbol path#Path {
                fill: $color--orange-light;
            }
            g#Insta-Icon path#Shape,
            g#Insta-Icon path#Path {
                fill: $color--orange-light;
            }

            g#Compass-Icon path#Shape {
                fill: $color--orange-light;
            }
            g#noun_Compass_1289320 g path#Shape {
              fill: $color--white;
            }

          }
        }
      }

      .mobile-menu-btn {
          display: block;

          @include respond-to-min(wide) {
            display: none;
          }

          .hamburger {
            margin-top: 10px;
            @include respond-to-min(large) {
              margin-top: 20px;
            }
          }

      }


    }

  }

}

body.has-scrolled {

  .site-header {
    -webkit-box-shadow: 0px -4px 22px 3px rgba(42,46,56,0.5);
    -moz-box-shadow: 0px -4px 22px 3px rgba(42,46,56,0.5);
    box-shadow: 0px -4px 22px 3px rgba(42,46,56,0.5);
  }

}

body.rhs-front-page {

  &:not(.has-scrolled) .site-header {
    background: transparent !important;
  }

}
