/* =============================================
================================================
 Main Styling
================================================
============================================= */


.site-content {
  background-color: #fff;
  position: relative;
  padding-top: 60px;

  @include respond-to-min(large) {
    padding-top: 80px;
  }
}

body.rhs-front-page {
  .site-content {
    padding-top: 0px;
  }
}

.content-scroll,
.image-scroll {
  visibility: hidden;
}



/* =============================================
================================================
 Front page
================================================
============================================= */

/* Intro Block */
section.frontpage-intro {

    @include respond-to-min(large) {
      display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox; /* TWEENER - IE 10 */
      display: -webkit-flex; /* NEW - Chrome */
      display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
      align-items: center;
      height: 50vh;
      min-height: 400px;
      max-height: 560px;
    }

    @include respond-to-min(wide) {
      height: 60vh;
      min-height: 500px;
      max-height: 660px;
    }

    .wrap.small {
        @include respond-to-min(jumbo) {
          max-width: 1024px;
        }
    }

    .block-content {

      p {
        font-size: 1rem;

        @include respond-to-min(small) {
          font-size: 1.125rem;
        }
        @include respond-to-min(large) {
            font-size: 1.25rem;
         }
         @include respond-to-min(uwide) {
           font-size: 1.5rem;
         }
      }
    }

    .pattern-bg {
      opacity: 0.5;

      &.pattern-one {
        background-position: 5% 85% !important;
      }
      &.pattern-two {
        background-position: 95% 15% !important;
      }
    }

}

/* =============================================
================================================
 Front Page Blocks
================================================
============================================= */


section.icon-block {

    .block-content {
      p {
        font-size: 1rem;

        @include respond-to-min(small) {
          font-size: 1.125rem;
        }
        @include respond-to-min(large) {
            font-size: 1.25rem;
         }
         @include respond-to-min(uwide) {
           font-size: 1.375rem;
         }
      }

    }

    .icon-slider {
      margin-top: 2rem;

      @include respond-to-min(medium) {
          margin-top: 3rem;
       }
       @include respond-to-min(wide) {
         margin-top: 4rem;
       }
       @include respond-to-min(suwide) {
         margin-top: 5rem;
       }

       .slick-track,
       .slick-list {
         @include respond-to-min(large) {
           overflow: visible;
         }
       }

      .icon-slide {
        .tile-content {
          text-align: center;

          h3 {
            font-weight: 300;
            -webkit-transition: color 130ms ease-in-out;
            -moz-transition:  color 130ms ease-in-out;
            -o-transition:  color 130ms ease-in-out;
            transition: color 130ms ease-in-out;
            font-size: 20px;
            font-size: 1.25rem;
            letter-spacing: 0.25px;
            font-weight: 500;
            font-family: "Produkt", "Helvetica Neue", helvetica, arial, sans-serif;

            @include respond-to-min(medium) {
              font-size: 22px;
              font-size: 1.375rem;
              font-weight: 500;
            }

            @include respond-to-min(wide) {
              font-size: 26px;
              font-size: 1.625rem;
              font-weight: 500;
            }

            @include respond-to-min(suwide) {
              font-size: 28px;
              font-size: 1.75rem;
              font-weight: 500;
            }


            @include respond-to-min(jumbo) {
              font-size: 34px;
              font-size: 2.125rem;
              font-weight: 500;
            }
          }


          svg {
            margin-bottom: 0.5rem;
            max-height: 120px;
            -webkit-transition: transform 130ms ease-in-out;
            -moz-transition:  transform 130ms ease-in-out;
            -o-transition:  transform 130ms ease-in-out;
            transition: transform 130ms ease-in-out;

            g g {

            }

            @include respond-to-min(medium) {
              max-height: 150px;
              margin-bottom: 1rem;
            }

            @include respond-to-min(uwide) {
              max-height: 190px;
            }
          }

          &:hover {

          }

        }

        &.slick-current {
          @include respond-to-min(medium) {
            svg {
              transform: scale(1.05);
                g g {
                  fill: $color--orange-light;
                }
              }
          }
        }

        &.content-scroll,
        &.image-scroll {
            @include respond-to-max(large) {
              visibility: visible !important;
              opacity: 1 !important;
              transform: translate(0px, 0px) !important;
            }
        }

      }

      ul.slick-dots {
        bottom: -2rem;

        @include respond-to-min(medium) {
          bottom: -3rem;
        }

        li button:before {
          font-size: 1rem;
          color: $color--black;
          opacity: 0.2;
        }
        li button:hover:before {
          color: $color--orange-light;
          opacity: 1;
        }

        li.slick-active button:before {
          color: $color--orange;
          opacity: 1;
        }
      }

    }

}



/* Text & Image Block */
section.text-image-block {
    height: 100%;

    .wrap {
      height: 100%;


      &.small {

        @include respond-to-min(jumbo) {
          max-width: 1024px;
        }

        .text-image-wrap .rhs-image .rhs-image-main {
          position: relative;
          width: 100%;
          height: 280px;
          margin: 0;

          @include respond-to-min(small) {
            height: 420px;
          }
          @include respond-to-min(large) {
            margin-right: 3.5vw;
          }
          @include respond-to-min(uwide) {
            height: 460px;
          }
          @include respond-to-min(suwide) {
            height: 500px;
          }
          @include respond-to-min(jumbo) {
            height: 525px;
          }
        }
      }

    }

    .text-image-wrap {
        height: 100%;
        width: 100%;
        position: relative;
        display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox; /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Chrome */
        display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
        flex-flow: column-reverse;
        align-items: center;
        justify-content: space-between;

        @include respond-to-min(large) {
          flex-flow: row;
          align-items: center;
          justify-content: space-between;
        }

        @include respond-to-min(wide) {
          padding-top: 3rem;
        }
        @include respond-to-min(suwide) {
          padding-top: 4rem;
        }


        .rhs-image {
          width: 100%;
          height: 100%;
          padding-top: 2rem;

            @include respond-to-min(large) {
              -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
              -moz-box-flex: 1; /* OLD - Firefox 19- */
              -webkit-flex: 1; /* Chrome */
              -ms-flex: 1; /* IE 10 */
              flex: 1; /* NEW, Spec - Opera 12.1, Firefox 20+ */
              display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
              display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
              display: -ms-flexbox; /* TWEENER - IE 10 */
              display: -webkit-flex; /* NEW - Chrome */
              display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
              justify-content: center;
              align-items: center;
              min-width: 55%;
              padding-top: 0;
              justify-content: flex-start;
            }


            .rhs-image-main {
              position: relative;
              width: 100%;
              margin-left: auto;
              margin-right: auto;
              background-size: cover !important;
              background-position: center center !important;
              position: relative;
              width: 100%;
              height: 280px;
              margin: 0;

              @include respond-to-min(small) {
                height: 420px;
              }
              @include respond-to-min(large) {
                margin-right: 3.5vw;
              }
              @include respond-to-min(uwide) {
                height: 460px;
              }
              @include respond-to-min(suwide) {
                height: 500px;
              }
              @include respond-to-min(jumbo) {
                height: 525px;
              }

              &:after {
                -webkit-transition: transform 250ms ease-in-out;
                -moz-transition:  transform 250ms ease-in-out;
                -o-transition:  transform 250ms ease-in-out;
                transition: transform 250ms ease-in-out;
              }

              &:hover {
                &:after {
                  -webkit-transform: rotate(180deg);
                  transform: rotate(180deg);
                }
              }
            }


        }



        .rhs-content {
          width: 100%;

            @include respond-to-min(large) {
              -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
              -moz-box-flex: 1; /* OLD - Firefox 19- */
              -webkit-flex: 1; /* Chrome */
              -ms-flex: 1; /* IE 10 */
              flex: 1; /* NEW, Spec - Opera 12.1, Firefox 20+ */
              min-width: 45%;
            }

            p {
              font-size: 1rem;

              @include respond-to-min(small) {
                font-size: 1.125rem;
              }
              @include respond-to-min(large) {
                  font-size: 1.25rem;
               }
               @include respond-to-min(uwide) {
                 font-size: 1.375rem;
               }
            }
        }


        &.align-right {
          text-align: left !important;
          @include respond-to-min(large) {
            flex-flow: row-reverse;
          }
            .rhs-image {
              @include respond-to-min(large) {
                justify-content: flex-end;
              }
              .rhs-image-main {
                border-radius: 0 0 50px 0;
                @include respond-to-min(medium) {
                  border-radius: 0 0 100px 0;
                }
                @include respond-to-min(large) {
                  margin-left: 3.5vw !important;
                  margin-right: auto !important;
                  border-radius: 0 0 0 100px;
                }
                @include respond-to-min(wide) {
                  border-radius: 0 0 0 150px;
                }
                @include respond-to-min(suwide) {
                  border-radius: 0 0 0 200px ;
                }
                &:after {
                  content: '';
                  position: absolute;
                  background-size: cover !important;
                  background-repeat: no-repeat;
                  background-position: center right !important;
                  background: url('../../assets/images/icons/rhs-circle-plus-icons.svg');
                  top: -45px;
                  right: 12px;
                  width: 37px;
                  height: 90px;

                  @include respond-to-min(large) {
                    top: -58px;
                    right: 12px;
                    width: 47px;
                    height: 117px;
                  }
                  @include respond-to-min(wide) {
                    background-size: contain !important;
                    background-position: center center !important;
                    top: -58px;
                    right: -60px;
                    width: 120px;
                    height: 117px;
                  }
                  @include respond-to-min(suwide) {
                    top: -85px;
                    right: -88px;
                    width: 176px;
                    height: 171px;
                  }
                }
              }
            }

        }

        &.align-left {
          .rhs-image {
            .rhs-image-main {
              border-radius: 0 0 50px 0;
              @include respond-to-min(medium) {
                border-radius: 0 0 100px 0;
              }
              @include respond-to-min(wide) {
                border-radius: 0 0 150px 0;
              }
              @include respond-to-min(suwide) {
                border-radius: 0 0 200px 0;
              }

              &:after {
                content: '';
                position: absolute;
                background-size: cover !important;
                background-repeat: no-repeat;
                background-position: center right !important;
                background: url('../../assets/images/icons/rhs-circle-plus-icons.svg');
                top: -45px;
                right: 12px;
                width: 37px;
                height: 90px;

                @include respond-to-min(large) {
                  top: -58px;
                  left: 12px;
                  right: auto;
                  width: 47px;
                  height: 117px;
                }
                @include respond-to-min(wide) {
                  background-size: contain !important;
                  background-position: center center !important;
                  top: -58px;
                  left: -60px;
                  width: 120px;
                  height: 117px;
                }
                @include respond-to-min(suwide) {
                  top: -85px;
                  left: -88px;
                  width: 176px;
                  height: 171px;
                }
              }
            }
          }
        }
    }

    &.second-row {
      z-index: 2;
    }

}


/* Contact Block */
section.frontpage-contact-block {
    position: relative;

    &:after {
      @include respond-to-min(large) {
        content: '';
        position: absolute;
        z-index: 2;
        bottom: 0;
        right: 0;
        width: 177px;
        height: 262px;
        background-size: cover !important;
        background-repeat: no-repeat;
        background-position: center center;
        background: url('../../assets/images/patterns/rhs-contact-pattern.svg');
      }
    }


    .contact-wrap {
        height: 100%;
        width: 100%;
        position: relative;
        display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox; /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Chrome */
        display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
        flex-flow: column-reverse;

        @include respond-to-min(large) {
          flex-flow: row;
          align-items: center;
          justify-content: space-between;
        }
      }

      .rhs-map {
        height: 100%;
        width: 100%;
        background: $color--blue-light;
        height: 520px;
        @include respond-to-min(small) {
          height: 520px;
        }
        @include respond-to-min(medium) {
          height: 620px;
        }
        @include respond-to-min(large) {
          -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
          -moz-box-flex: 1; /* OLD - Firefox 19- */
          -webkit-flex: 1; /* Chrome */
          -ms-flex: 1; /* IE 10 */
          flex: 1; /* NEW, Spec - Opera 12.1, Firefox 20+ */
          width: 50%;
          height: 720px;
        }
        @include respond-to-min(uwide) {
          height: 820px;
        }

        #map {
          width: 100%;
          height: 100%;
        }
      }

      .rhs-contact {
        position: relative;
        height: 100%;
        width: 100%;
        -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
        -moz-box-flex: 1; /* OLD - Firefox 19- */
        -webkit-flex: 1; /* Chrome */
        -ms-flex: 1; /* IE 10 */
        flex: 1; /* NEW, Spec - Opera 12.1, Firefox 20+ */
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 3rem;
        padding-bottom: 3rem;

        @include respond-to-min(medium) {
          padding-left: 2rem;
          padding-right: 2rem;
          padding-top: 5rem;
          padding-bottom: 5rem;

            &:after {
                content: '';
                position: absolute;
                z-index: 2;
                bottom: 0;
                right: 0;
                width: 177px;
                height: 262px;
                background-size: cover !important;
                background-repeat: no-repeat;
                background-position: center center;
                background: url('../../assets/images/patterns/rhs-contact-pattern.svg');
            }
        }

        @include respond-to-min(large) {
          width: 50%;
          display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
          display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
          display: -ms-flexbox; /* TWEENER - IE 10 */
          display: -webkit-flex; /* NEW - Chrome */
          display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
          align-items: center;
          padding: 0;

            &:after {
              display: none;
            }
        }



        .rhs-content {
          @include respond-to-min(large) {
            margin-left: 3.5vw;
          }

          a {
            display: block;

            h3 {
              -webkit-transition: color 130ms ease-in-out;
              -moz-transition:  color 130ms ease-in-out;
              -o-transition:  color 130ms ease-in-out;
              transition: color 130ms ease-in-out;
            }
            &:hover h3 {
              color: $color--orange-light !important;
            }
          }

          .contact-icons {
              padding-top: 0.5rem;

              @include respond-to-min(medium) {
                padding-top: 1rem;
              }

                a.contact-content {
                  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
                  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
                  display: -ms-flexbox; /* TWEENER - IE 10 */
                  display: -webkit-flex; /* NEW - Chrome */
                  display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
                  align-items: center;
                  margin-bottom: 1rem;

                  @include respond-to-min(wide) {
                    margin-bottom: 1.5rem;
                  }

                  .image {
                    width: 50px;
                    height: 50px;

                    @include respond-to-min(medium) {
                      width: 65px;
                      height: 65px;
                    }

                    svg {
                      width: 50px;
                      height: 50px;

                      @include respond-to-min(medium) {
                        width: 65px;
                        height: 65px;
                      }
                    }

                    svg circle {
                      -webkit-transition: fill 130ms ease-in-out;
                      -moz-transition:  fill 130ms ease-in-out;
                      -o-transition:  fill 130ms ease-in-out;
                      transition: fill 130ms ease-in-out;
                    }
                    g#Compass-Icon path#Shape {
                      -webkit-transition: fill 130ms ease-in-out;
                      -moz-transition:  fill 130ms ease-in-out;
                      -o-transition:  fill 130ms ease-in-out;
                    }
                  }

                  .text {
                    margin-left: 1rem;

                    @include respond-to-min(medium) {
                      margin-left: 1.5vw;
                    }
                    p {
                      margin: 0;
                      color: $color--white;
                      font-size: 1rem;
                      -webkit-transition: color 130ms ease-in-out;
                      -moz-transition:  color 130ms ease-in-out;
                      -o-transition:  color 130ms ease-in-out;
                      transition: color 130ms ease-in-out;

                      @include respond-to-min(small) {
                        font-size: 1.125rem;
                      }
                      @include respond-to-min(large) {
                          font-size: 1.25rem;
                       }
                       @include respond-to-min(uwide) {
                         font-size: 1.375rem;
                       }

                       &.title {
                         font-weight: bold;
                       }

                       &.desc {
                         @include respond-to-max(small) {
                           font-size: 0.875rem;
                         }
                       }
                    }
                  }

                  &:hover {
                    .image svg circle {
                      fill: $color--orange-light;
                    }
                    .image svg #Compass-Icon circle,
                    .image svg g#noun_Compass_1289320 g path#Shape {
                      fill: $color--white;
                    }
                    .image g#Compass-Icon path#Shape {
                        fill: $color--orange-light;
                    }
                    .text p {
                      color: $color--orange-light;
                    }
                  }
                }

          }
        }
      }

      .layout-curve {
        @include respond-to-max(large) {
            display: none;
         }
      }

}

/* =============================================
================================================
 Content Pages
================================================
============================================= */


/* Image Block */


section.image-block {
    height: 100%;

    .wrap {
      height: 100%;

        .main-image {
          width: 100%;
          height: 100%;

          .rhs-image-main{
            width: 100%;
            height: 100%;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            border-radius: 8px;
            width: 100%;
            height: 280px;
            margin: 0;
            background-repeat: no-repeat !important;

            &.bg-cover {
              background-size: cover !important;
            }
            &.bg-contain {
                background-size: contain !important;
            }
            &.bg-center-center {
                background-position: center center !important;
            }
            &.bg-center-top {
                background-position: center top !important;
            }
            &.bg-center-bottom {
                background-position: center bottom !important;
            }
            &.bg-left-center {
                background-position: left center !important;
            }
            &.bg-left-top {
                background-position: left top !important;
            }
            &.bg-left-bottom {
                background-position: left bottom !important;
            }
            &.bg-right-center {
                background-position: right center !important;
            }
            &.bg-right-top {
                background-position: right top !important;
            }
            &.bg-right-bottom {
                background-position: right bottom !important;
            }


                @include respond-to-min(small) {
                  height: 380px;

                }
                @include respond-to-min(medium) {
                  height: 50vh;
                  border-radius: 8px;
                  min-height: 500px;
                }
                @include respond-to-min(uwide) {
                  min-height: 518px;
                }
                @include respond-to-min(suwide) {
                  min-height: 600px;
                }
                @include respond-to-min(jumbo) {
                  min-height: 725px;
                }
              }
          }


        }

        &.small-image {
          .wrap .main-image .rhs-image-main {
            @include respond-to-min(small) {
              min-height: 320px;
              height: 100%;
            }
            @include respond-to-min(medium) {
              border-radius: 8px;
            }
            @include respond-to-min(jumbo) {
              min-height: 400px !important;
            }

        }
      }
    }


/* Quote Block */

.quote-block {
  h2.quote {
    position: relative;
    padding: 0 1rem;
    font-family: $serif;
    line-height: 1.1;

    @include respond-to-min(medium) {
      padding: 0 1.5rem;
    }
    @include respond-to-min(wide) {
      padding: 0;
    }

    &:before {
      content: '';
      background: url('../../assets/images/icons/rhs-quote-icon.svg') no-repeat center center;
      background-size: contain;
      position: absolute;
      top: -10px;
      left: -0.5rem;
      width: 1rem;
      height: 1rem;
      @include respond-to-min(medium) {
        left: -1rem;
        width: 1.5rem;
        height: 1.5rem;
      }
      @include respond-to-min(wide) {
        left: -4rem;
        width: 2.5rem;
        height: 2.5rem;
      }
    }

    &:after {
      content: '';
      transform: rotate(180deg);
      background: url('../../assets/images/icons/rhs-quote-icon.svg') no-repeat center center;
      background-size: contain;
      position: absolute;
      bottom: -10px;
      right: -0.5rem;
      width: 1rem;
      height: 1rem;
      @include respond-to-min(medium) {
        right: 0rem;
        width: 1.5rem;
        height: 1.5rem;
      }
      @include respond-to-min(large) {
        right: -1rem;
      }
      @include respond-to-min(wide) {
        right: -3rem;
        width: 2.5rem;
        height: 2.5rem;
      }
      @include respond-to-min(jumbo) {
        right: 0rem;
      }
    }


  }

  h2.quote + h5.quote-author {
    margin-top:  1rem;

    @include respond-to-min(medium) {
      margin-top:  1.5rem;
    }
    @include respond-to-min(wide) {
      margin-top: 2rem;
    }
  }

  h5.quote-author {
    color: $color--orange !important;
    font-family: $serif;
    padding: 0 1rem;
    margin: 0;

    @include respond-to-min(medium) {
      padding: 0 1.5rem;
    }
    @include respond-to-min(wide) {
      padding: 0;
    }
  }

  &.align-center {
    .block-button {
      .buttons-wrap {
        justify-content: center;
        align-items: center;
      }
    }
  }

  &.align-right {
    .block-button {
      .buttons-wrap {
        justify-content: flex-end;
        align-items: flex-end;
      }
    }
  }

  &.bg-teal {
    &.quote-block {
      h3.quote:before,
      h3.quote:after {
        background: url('../../assets/images/icons/rhs-quote-icon.svg') no-repeat center center;
        background-size: contain;
      }
      h5.quote-author {
        color: $color--orange-light !important;
      }
    }
  }
}

/* Button Block */


.button-block {

    .block-button {
      margin-top:  1rem;
      margin-left: -1rem;
      margin-right: -1rem;

      @include respond-to-min(large) {
        margin-top:  1.5rem;
      }
      @include respond-to-min(wide) {
        margin-top: 2rem;
      }
      @include respond-to-min(jumbo) {
        margin-top: 3rem;
      }

      .buttons-wrap {
        display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox; /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Chrome */
        display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        @include respond-to-max(large) {
          margin-top: 2rem;
        }
      }

      a.btn {
        margin: 0 1rem 1rem;
      }
    }

    &.align-center {
      .block-button {
        .buttons-wrap {
          justify-content: center;
          align-items: center;
        }
      }
    }

    &.align-right {
      .block-button {
        .buttons-wrap {
          justify-content: flex-end;
          align-items: flex-end;
        }
      }
    }

    &.bg-teal {
      &.quote-block {
        h3.quote:before,
        h3.quote:after {
          background: url('../../assets/images/icons/rhs-quote-icon.svg') no-repeat center center;
          background-size: contain;
        }
        h5.quote-author {
          color: $color--orange-light !important;
        }
      }
    }
}


/* Text Block */



section.text-block {

  &.align-center {
    .block-button {
      .buttons-wrap {
        justify-content: center;
        align-items: center;
      }
    }
  }

  &.align-right {
    .block-button {
      .buttons-wrap {
        justify-content: flex-end;
        align-items: flex-end;
      }
    }
  }

  &.bg-teal {
    &.quote-block {
      h3.quote:before,
      h3.quote:after {
        background: url('../../assets/images/icons/rhs-quote-icon.svg') no-repeat center center;
        background-size: contain;
      }
      h5.quote-author {
        color: $color--orange-light !important;
      }
    }
  }

}


/* Accordion Block */



section.accordion-block {

    .accordion {
      width: 100%;
      color: $color--white;
      -webkit-appearance: none;
      appearance: none;
      border: 0;
      border-radius: 4px;
      cursor: pointer;
      text-decoration: none;
      transition: all 250ms ease-in-out;
      -o-transition: all 250ms ease-in-out;
      -ms-transition: all 250ms ease-in-out;
      -moz-transition: all 250ms ease-in-out;
      -webkit-transition: all 250ms ease-in-out;
      margin-bottom: 1rem;

          @include respond-to-min(wide) {
            margin-bottom: 1.5rem;
          }

        &.acc-orange {
          background: $color--primary;
        }
        &.acc-grey {
          background: $color--grey;
        }

      p.acc-title {
        position: relative;
        white-space: normal;
        margin: 0;
        font-weight: bold;
        color: $color--white;
        font-family: $serif;
        font-size: 1.125rem;
        padding: 0.75rem 2rem 0.75rem 0.75rem;

        @include respond-to-min(wide) {
          padding: 1rem 3rem 1rem 1.5rem;
          font-size: 1.25rem;
        }

        &:after {
          content: '';
          position: absolute;
          width: 1rem;
          height: 1rem;
          right: 1rem;
          background-size: contain !important;
          background: url('../../assets/images/icons/rhs-arrow-down-white.svg') no-repeat center center;
          transition: all 250ms ease-in-out;
          -o-transition: all 250ms ease-in-out;
          -ms-transition: all 250ms ease-in-out;
          -moz-transition: all 250ms ease-in-out;
          -webkit-transition: all 250ms ease-in-out;

          @include respond-to-min(wide) {
            width: 1.5rem;
            height: 1.5rem;
            right: 1.5rem;
          }

        }
      }

      .accordion-container {
        display: none;
        background: $color--warmyellow;
        border: 1px solid $color--primary;
        /* border-radius: 4px; */
        color: $color--grey;
        padding: 1.5rem 1rem;

          @include respond-to-min(wide) {
            padding: 2rem 1.5rem;
          }
      }

      &:hover,
      &.active {

        &.acc-orange {
          background:  $color--orange;
          .accordion-container {
            border: 1px solid $color--orange;
          }
        }
        &.acc-grey {
          background: $color--orange;

          .accordion-container {
            border: 1px solid  $color--grey;
            border-top: 0px;

          }
        }

      }
      &.active {
        p.acc-title:after {
          transform: rotate(180deg);
        }
      }
    }

}


/* Table Block */


section.table-block {

    .block-content.bottom {
      margin-top: 1rem;

      @include respond-to-min(large) {
        margin-top: 2rem;
      }
      @include respond-to-min(uwide) {
        margin-top: 3rem;
      }
    }

}



/* =============================================
================================================
 About page
================================================
============================================= */

.page-about section.page-hero {

  .hero-container .bg-image.vertical-center:after {
    background: none;
  }
  .hero-content.align-left.vertical-center {
    display: none;
  }
}

/* =============================================
================================================
 Contact Page
================================================
============================================= */
section.page-contact-hero {

    position: relative;
    height: 100%;

     @include respond-to-min(wide) {
        height: calc(100vh - 80px);
        min-height: 700px;
        max-height: 1000px;
     }

    .contact-hero-container{
      position: relative;
      height: 100%;
      width: 100%;

       @include respond-to-min(wide) {
          height: calc(100vh - 80px);
          max-height: 1000px;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: 100%;
          width: 100%;
       }

       .bg-image {
         position: absolute;
         top: 0;
         bottom: 0;
         left: 0;
         right: 0;
         height: 100%;
         width: 100%;
         overflow: hidden;



         .bg-image-main {
           height: 100%;
           width: 100%;
           max-width: 100%;
           background-size: cover !important;

            @include respond-to-min(wide) {
               height: calc(100vh - 80px);
               max-height: 1000px;
            }

           &.bg-image-mobile {
               @include respond-to-min(large) {
                 display: none;
               }
           }
           &.bg-image-desktop {
               @include respond-to-max(large) {
                 display: none;
               }
           }
         }

         &:after {
             content: '';
             position: absolute;
             height: 100%;
             width: 100%;
             top: 0;
             bottom: 0;
             left: 0;
             right: 0;
             background: rgba(0,0,0,0);
             background: -moz-linear-gradient(top, rgba(0,0,0,0.35) 0%, rgba(0,0,0,0.8) 50%, rgba(0,0,0,0.9) 100%);
             background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.35)), color-stop(50%, rgba(0,0,0,0.8)), color-stop(100%, rgba(0,0,0,0.9)));
             background: -webkit-linear-gradient(top, rgba(0,0,0,0.35) 0%, rgba(0,0,0,0.8) 50%, rgba(0,0,0,0.9) 100%);
             background: -o-linear-gradient(top, rgba(0,0,0,0.35) 0%, rgba(0,0,0,0.8) 50%, rgba(0,0,0,0.9) 100%);
             background: -ms-linear-gradient(top, rgba(0,0,0,0.35) 0%, rgba(0,0,0,0.8) 50%, rgba(0,0,0,0.9) 100%);
             background: linear-gradient(to bottom, rgba(0,0,0,0.35) 0%, rgba(0,0,0,0.8) 50%, #000000 100%);

         }
       }

       .wrap {
         position: relative;
         height: 100%;
         width: 100%;
       }

       .contact-hero-content {

         position: relative;
         height: 100%;
         width: 100%;

         h1.page-title:after {
           left: 0;
           right: auto;
         }
         p {
             @include respond-to-min(wide) {
               font-size: 1.125rem;
             }
             @include respond-to-min(suwide) {
               font-size: 1.25rem;
             }
            color: $color--white;
         }

          @include respond-to-min(wide) {
             position: relative;
             height: 100%;
             width: 100%;
             top: 0;
             bottom: 0;
             left: 0;
             right: 0;
             display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
             display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
             display: -ms-flexbox; /* TWEENER - IE 10 */
             display: -webkit-flex; /* NEW - Chrome */
             display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
             flex-flow: row;
             justify-content: center;
             align-items: flex-end;
             padding-bottom: 5vh;
           }

         .contact-info {
           text-align: left;
            padding-top: 2rem;

            @include respond-to-min(large) {
              padding-top: 5vh;
            }
             @include respond-to-min(large) {
               padding-top: 5vh;
             }
             @include respond-to-min(wide) {

               flex: 1;
               padding-right: 5vw;
             }

             .contact-slider {
               padding-top: 1rem;
               .slick-dots {
                 bottom: -20px;
               }
               .slick-list {
                 margin: 0 auto;
                  @include respond-to-min(wide) {
                   overflow: visible;
                 }
                 .contact-icons {
                     padding-top: 0.5rem;

                     @include respond-to-min(medium) {
                       padding-top: 1rem;
                     }



                 }
               }
             }

         }

         .contact-form {
           padding: 2rem 0;

           @include respond-to-min(medium) {
             padding: 5vh 0;
           }
            @include respond-to-min(large) {
              padding: 5vh 0;
            }
            @include respond-to-min(wide) {
              max-width: 100%;
              padding: 0;
              margin: 0;
              flex: 1;
            }

            h3 {
              color: $color--white !important;
              display: block;
              @include respond-to-min(wide) {
                display: none;
              }
            }
         }
       }


     }

     a.contact-content {
       display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
       display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
       display: -ms-flexbox; /* TWEENER - IE 10 */
       display: -webkit-flex; /* NEW - Chrome */
       display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
       align-items: center;
       margin-bottom: 1rem;

       @include respond-to-min(wide) {
         margin-bottom: 1.5rem;
       }

       .image {
         width: 50px;
         height: 50px;

         @include respond-to-min(medium) {
           width: 65px;
           height: 65px;
         }

         svg {
           width: 50px;
           height: 50px;

           @include respond-to-min(medium) {
             width: 65px;
             height: 65px;
           }
         }

         svg circle {
           -webkit-transition: fill 130ms ease-in-out;
           -moz-transition:  fill 130ms ease-in-out;
           -o-transition:  fill 130ms ease-in-out;
           transition: fill 130ms ease-in-out;
         }
         g#Compass-Icon path#Shape {
           -webkit-transition: fill 130ms ease-in-out;
           -moz-transition:  fill 130ms ease-in-out;
           -o-transition:  fill 130ms ease-in-out;
         }
       }

       .text {
         margin-left: 1rem;

         @include respond-to-min(medium) {
           margin-left: 1.5vw;
         }
         p {
           margin: 0;
           color: $color--white;
           font-size: 1rem;
           -webkit-transition: color 130ms ease-in-out;
           -moz-transition:  color 130ms ease-in-out;
           -o-transition:  color 130ms ease-in-out;
           transition: color 130ms ease-in-out;

           @include respond-to-min(small) {
             font-size: 1.125rem;
           }
           @include respond-to-min(large) {
               font-size: 1.25rem;
            }
            @include respond-to-min(uwide) {
              font-size: 1.375rem;
            }

            &.title {
              font-weight: bold;
            }

            &.desc {
              @include respond-to-max(small) {
                font-size: 0.875rem;
              }
            }
         }
       }

       &:hover {
         .image svg circle {
           fill: $color--orange-light;
         }
         .text p {
           color: $color--orange-light;
         }

         .image svg #Compass-Icon circle,
         .image svg g#noun_Compass_1289320 g path#Shape {
           fill: $color--white;
         }
         .image g#Compass-Icon path#Shape {
             fill: $color--orange-light;
         }
       }
     }

}


/* =============================================
================================================
 Our Values Page
================================================
============================================= */

section.icon-block {

    &.value-slider {


        .icon-slider {
          margin-top: 1rem;
          @include respond-to-min(medium) {
              margin-top: 3rem;
           }
          @include respond-to-min(large) {
              margin-top: 1rem;
           }
          @include respond-to-min(uwide) {
              margin-top: 3rem;
           }


           .slick-track,
           .slick-list {
             @include respond-to-min(large) {
               overflow: visible;
             }
           }

           .slick-track {
             @include respond-to-min(large) {
               display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
               display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
               display: -ms-flexbox; /* TWEENER - IE 10 */
               display: -webkit-flex; /* NEW - Chrome */
               display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
               flex-flow: row;
               flex-wrap: wrap;
             }
           }

          .icon-slide {
            @include respond-to-min(large) {
              width: 49% !important;
              margin-top: 3rem;
            }

            p {
              margin: 1rem 0rem 0 0rem;
              font-size: 0.875rem;

              @include respond-to-min(medium) {
                margin: 1rem 1rem 0 1rem;
              }
              @include respond-to-min(large) {
                max-width: 400px;
                margin: 0 auto;
                margin-top: 1rem;
                font-size: 1rem;
              }
              @include respond-to-min(wide) {
                font-size: 1.125rem;
              }
              @include respond-to-min(uwide) {
                font-size: 1.25rem;
              }
            }
          }


        }

    }

    &.student-value-slider {


        .icon-slider {
          margin-top: 1rem;
          @include respond-to-min(medium) {
              margin-top: 3rem;
           }
          @include respond-to-min(large) {
              margin-top: 1rem;
           }
          @include respond-to-min(uwide) {
              margin-top: 3rem;
           }


           .slick-track,
           .slick-list {
             @include respond-to-min(large) {
               overflow: visible;
             }
           }

           .slick-track {
             @include respond-to-min(large) {
               display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
               display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
               display: -ms-flexbox; /* TWEENER - IE 10 */
               display: -webkit-flex; /* NEW - Chrome */
               display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
               flex-flow: row;
               flex-wrap: wrap;
             }
           }

          .icon-slide {
            @include respond-to-min(large) {
              -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
              -moz-box-flex: 1; /* OLD - Firefox 19- */
              -webkit-flex: 1; /* Chrome */
              -ms-flex: 1; /* IE 10 */
              flex: 1; /* NEW, Spec - Opera 12.1, Firefox 20+ */
              width: 33.3% !important;
              margin-top: 3rem;
            }

            p {
              margin: 1rem 1rem 0 1rem;

              @include respond-to-min(large) {
                max-width: 400px;
                margin: 0 auto;
                margin-top: 1rem;
              }
            }
          }


        }

    }
}

/* =============================================
================================================
 Learning Page
================================================
============================================= */

.page-learning section.text-image-block {

  &.bg-none .page-title:after,
  &.bg-none .page-title.black-color:after,
  &.bg-white .page-title:after,
  &.bg-white .page-title.black-color:after {
    background: $color--orange-light;
  }

  .text-image-wrap.align-right .rhs-image .rhs-image-main:after,
  .text-image-wrap.align-left .rhs-image .rhs-image-main:after {
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: center right !important;
    background: url('../../assets/images/icons/rhs-circle-plus-icons-yellow.svg');
  }
}

.page-curriculum,
.page-library,
.page-professional-learning {
  .bg-none .page-title:after,
  .bg-none .page-title.black-color:after,
  .bg-white .page-title:after,
  .bg-white .page-title.black-color:after {
    background: $color--orange-light;
  }
}


section.text-block {

  .two-col {
    margin-top: 2rem;
    @include respond-to-min(medium) {
      display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox; /* TWEENER - IE 10 */
      display: -webkit-flex; /* NEW - Chrome */
      display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
      flex-flow: row;
      flex-wrap: wrap;
    }

    .col {
      margin-bottom: 1.5rem;
      @include respond-to-min(medium) {
        -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
        -moz-box-flex: 1; /* OLD - Firefox 19- */
        -webkit-flex: 1; /* Chrome */
        -ms-flex: 1; /* IE 10 */
        flex: 1; /* NEW, Spec - Opera 12.1, Firefox 20+ */
        min-width: 50%;
        padding: 0 1rem;
        margin-bottom: 2rem;
      }
    }
  }

}


/* =============================================
================================================
The Neighbourhood
================================================
============================================= */


.page-the-neighbourhood {

  .hero-title h1 {

      position: relative;
      font-size: 1.75rem;
      margin-bottom: 1.5rem;
      font-weight: normal;
      font-family: "Produkt", "Helvetica Neue", helvetica, arial, sans-serif;

      @include respond-to-min(small) {
        font-size: 2rem;
        margin-bottom: 1.75rem;
      }

      @include respond-to-min(medium) {
        font-size: 3rem;
        margin-bottom: 2rem;
      }

      @include respond-to-min(wide) {
        font-size: 3.5rem;
        margin-bottom: 2.25rem;
      }

      @include respond-to-min(uwide) {
        font-size: 3.75rem;
        margin-bottom: 2.75rem;
      }

      @include respond-to-min(suwide) {
        font-size: 4rem;
        margin-bottom: 3.75rem;
      }

      /* Dash Under Title */
      &:after {
        content: '';
        position: absolute;
        bottom: -0.75rem;
        width: 48px;
        height: 3px;
        border-radius: 1px;
        left: 0;
        background: $color--orange-light;

        @include respond-to-min(wide) {
            bottom: -1rem;
            width: 64px;
            height: 5px;
            border-radius: 2px;
        }

        @include respond-to-min(suwide) {
            bottom: -1.5rem;
        }

      }

  }

}


/* =============================================
================================================
Life@RHS
================================================
============================================= */

.page-liferhs section.text-image-block {

  &.bg-none .page-title:after,
  &.bg-none .page-title.black-color:after,
  &.bg-white .page-title:after,
  &.bg-white .page-title.black-color:after {
    background: $color--blue-light;
  }

  .text-image-wrap.align-right .rhs-image .rhs-image-main:after,
  .text-image-wrap.align-left .rhs-image .rhs-image-main:after {
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: center right !important;
    background: url('../../assets/images/icons/rhs-circle-plus-icons-blue.svg');
  }
}

.page-student-voice,
.page-rhs-family,
.page-newsletters {
  .bg-none .page-title:after,
  .bg-none .page-title.black-color:after,
  .bg-white .page-title:after,
  .bg-white .page-title.black-color:after {
    background: $color--blue-light;
  }
}

/* =============================================
================================================
Newsletters
================================================
============================================= */


.page-newsletters {
  .button-block .block-button  {
    @include respond-to-min(medium) {
      margin-left: 0;
      margin-right: 0;
    }

    .buttons-wrap {
        @include respond-to-min(medium) {
          justify-content: space-between;
          align-items: center;
        }

      a {
        @include respond-to-min(medium) {
          width: 48%;
          margin: 0;
          margin-bottom: 1rem;
        }
      }
    }
  }
}


/* =============================================
================================================
404
================================================
============================================= */


.error404 {

  .page-title {
    color: $color--white;
    &:after {
      background: $color--white;
    }
  }
  p {
    color: $color--white;
    margin-bottom: 1rem;

      font-size: 1rem;

      @include respond-to-min(small) {
        font-size: 1.125rem;
      }
      @include respond-to-min(large) {
          font-size: 1.25rem;
       }
       @include respond-to-min(uwide) {
         font-size: 1.5rem;
       }

  }

}

/* =============================================
================================================
Terms EtC
================================================
============================================= */

.page-terms-conditions,
.page-privacy-policy,
.page-disclaimer {
  section.title-block h1 {
    margin: 0;
  }

}
