/* =============================================
================================================
        Desktop Menu
================================================
============================================= */


nav {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 60px 2rem;

  @include respond-to-min(medium) {
   padding: 5vw 10vw;
   height: 100vh;
  }

  @include respond-to-min(large) {
   padding: 10vw;
  }

  @include respond-to-min(suwide) {
   padding: 10vw 13vw;
  }

  .menu-mobile-menu-container {
    height: 100%;

      ul#mobile-menu {
        height: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox; /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Chrome */
        display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
        flex-flow: column;
        align-content: flex-start;
        justify-content: center;
        padding-top: 8vh;

          @include respond-to-min(medium) {
            padding-top: 0px;
          }

          li.menu-parent-primary {
            line-height: 1;
            position: relative;
            cursor: pointer;
            margin-bottom: 1rem;
            padding-left: 1.5rem;

            @include respond-to-min(small) {
              margin-bottom: 1.5rem;
              padding-left: 2rem;
            }

            @include respond-to-min(uwide) {
              margin-bottom: 2rem;
            }

            a {
              pointer-events: none;
              font-family: $serif;
              font-weight: bold;
              color: $color--white;
              -webkit-transition: all 130ms ease-in-out;
              -moz-transition:  all 130ms ease-in-out;
              -o-transition:  all 130ms ease-in-out;
              font-size: 1.125rem;
              letter-spacing: 1.25px;

              @include respond-to-min(small) {
                font-size: 1.25rem;
              }
              @include respond-to-min(medium) {
                font-size: 1.5rem;
              }
            }

            &:after {
              content: '';
              position: absolute;
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center center;
              background: url('../../assets/images/icons/rhs-plus-icon-orange.svg');
              -webkit-transition: all 130ms ease-in-out;
              -moz-transition:  all 130ms ease-in-out;
              -o-transition:  all 130ms ease-in-out;
              width: 13px;
              height: 13px;
              left: 0rem;
              top: 1px;

              @include respond-to-min(small) {
                width: 16px;
                height: 16px;
                left: 0rem;
                top: 2px;
              }
              @include respond-to-min(medium) {
                width: 18px;
                height: 18px;
                left: -0.25rem;
                top: 2px;
              }

            }

            &:last-of-type a,
            &:nth-of-type(5) a {
                pointer-events: auto;
            }


            &:hover {
              a {
                color: $color--orange;
              }
              &:after {
                background-size: contain;
                background: url('../../assets/images/icons/rhs-plus-icon-green.svg') no-repeat center center;
              }
            }

            &.active {
              a {
                color: $color--orange;
              }
              &:after {
                background-size: contain;
                background: url('../../assets/images/icons/rhs-minus-icon-orange.svg') no-repeat center center !important;
              }
            }

            &.current-page-parent.active {
              &:after {
                background-size: contain;
                background: url('../../assets/images/icons/rhs-minus-icon-orange-light.svg') no-repeat center center;
              }
            }

            &.current-page-parent {
              a {
                color: $color--orange-light;
              }
              &:after {
                background-size: contain;
                background: url('../../assets/images/icons/rhs-plus-icon-green-light.svg') no-repeat center center;
              }
            }


          .submenu-container {
            display: none;

            /* Sub Menus */
            ul.sub-menu {
              list-style: none;
              padding: 0;
              margin: 0;
              padding-top: 0.5rem;
              line-height: 1.5;
              position: relative;
              height: 100%;
              @include respond-to-min(small) {
                padding-top: 1rem;
              }
              @include respond-to-min(medium) {
                line-height: 1.6;
              }

              li.menu-item {
                  margin: 0;
                  a {
                    cursor: pointer;
                    pointer-events: auto;
                    font-weight: normal;
                    color: $color--white;
                    letter-spacing: 0;
                    font-family: "Graphik", "Helvetica Neue", helvetica, arial, sans-serif;
                    text-transform: none;
                    font-size: 0.875rem;

                    @include respond-to-min(small) {
                      font-size: 1rem;
                    }
                    @include respond-to-min(medium) {
                      font-size: 1.125rem;
                    }


                    &:hover {
                      color: $color--orange;
                    }

                  }

                  &.current-menu-item {
                    a {
                      color: $color--orange-light;
                    }
                  }
                }
            }
          }

      }


      }

  }
}


/* =============================================
================================================
 Menu
================================================
============================================= */

#menu-nav-extra {
  visibility: hidden;
  opacity: 0;
  position: fixed ;
  bottom: 0;
  right: 1rem;
  width: 122px;
  bottom: 0.5rem;
  -webkit-transition: all 130ms ease-in-out;
  -moz-transition:  all 130ms ease-in-out;
  -o-transition:  all 130ms ease-in-out;

  @include respond-to-min(medium) {
    bottom: 2rem;
    right: auto;
    width: 100%;
  }

  .wrap {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-flow: column;
    align-items: flex-end;

    @include respond-to-max(medium) {
      padding: 0;
    }

    .menu-social {
      position: relative;
      width: 122px;

      @include respond-to-min(medium) {
        width: 122px;
      }

      a {
        svg {
          max-width: 32px;
          margin-right: 5px;

          g#Facebook-Symbol path#Path,
          g#Insta-Icon path#Shape,
          g#Insta-Icon path#Path,
          g#Compass-Icon path#Shape {
            -webkit-transition: fill 130ms ease-in-out;
            -moz-transition:  fill 130ms ease-in-out;
            -o-transition:  fill 130ms ease-in-out;
          }
        }

        &:hover {
          g#Facebook-Symbol path#Path {
              fill: $color--orange-light;
          }
          g#Insta-Icon path#Shape,
          g#Insta-Icon path#Path {
              fill: $color--orange-light;
          }

          g#Compass-Icon path#Shape {
              fill: $color--orange-light;
          }

        }
      }
    }

    .menu-contact {

      a {
          display: block;
          text-align: right;
          font-family: "Graphik", "Roboto", "Helvetica Neue", helvetica, arial, sans-serif;
          font-weight: bold;
          text-transform: uppercase;
          color: $color--white;
          -webkit-transition: all 130ms ease-in-out;
          -moz-transition:  all 130ms ease-in-out;
          -o-transition:  all 130ms ease-in-out;
          line-height: 1.5;
          font-size: 0.75rem;
          letter-spacing: 0.5px;

          @include respond-to-min(medium) {
            font-size: 1.125rem;
            line-height: 1.5;
            letter-spacing: 1.25px;
          }

          @include respond-to-min(uwide) {
            font-size: 1.25rem;
            letter-spacing: 1.5px;
          }

          &:hover {
            color: $color--orange;
          }
      }

      a:nth-of-type(3),
      a:nth-of-type(4) {
        display: none;
          @include respond-to-min(medium) {
            display: block;
          }
      }

    }
  }


}

body.menu-modal-open {
  #menu-nav-extra {
    visibility: visible;
    opacity: 1;
    z-index: 99991;
  }
}
